*
{
	margin: 0px;
	padding: 0px;
}
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: Verdana;
	min-height: 426px;
	min-width: 430px;
}
#wrapper {
	height: 100%;
}
header {
	height: 60px;
	width: 100%;
	background-color: #2a2a2a;
}
header>h1 {
	font-size: 1.5em;
	line-height: 2.5em;
	margin-left: 3%;
	color: #525252;
}
aside {
	width: 14%;
	height: calc(100% - 60px);
	display: block;
	background-color: #fefff3;
	box-shadow: 1px 9px 10px 1px #aaa;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}
aside>div {
	height: 60px;
	vertical-align: middle;
	font-size: 1.5em;
	border-bottom: 1px solid #bdbdbd;
}
aside>div>span {
	line-height: 2.5em;
	margin-left: 70px;
}
aside>div:before {
	content: "";
	position: absolute;
	height: 61px;
	width: 20px;
	transition: width 0.5s;
}
aside>div:hover {
	cursor: pointer;
}
aside>div:hover:before {
	width: 60px;
}
aside>div:nth-child(1):before {
	background-color: #0386b2;
}aside>div:nth-child(2):before {
	background-color: #18be54;
}
aside>div.cur:before {
	width: 60px;
}
section {
	height: calc(100% - 211px);
}
#colorBar {
	height: 10px;
}
section>header {
	background-color: #fefff3;
	border-bottom: 1px solid #bdbdbd;
}
section>header:before, section>header:after {
	top: 130px;
	left: 18%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
section>header:after {
	border-color: rgba(254, 255, 243, 0);
	border-top-color: #fefff3;
	border-width: 10px;
	margin-left: -10px;
}
section>header:before {
	border-color: rgba(170, 170, 170, 0);
	border-top-color: #aaa;
	border-width: 11px;
	margin-left: -11px;
}
section>header>span {
	font-size: 1.5em;
	margin-left: 2%;
	line-height: 2.5em;
}
section>article {
	height: calc(100% - 1px);
	width: calc(100% - 300px);
	float: left;
}
.left, .right, .CodeMirror {
	margin-top: 25px;
	height: 50%;
	width: 46.3%;
	margin-left: 2%;
	background-color: #fefff3;
	float: left;
	border: 1px solid #aaa;
	resize: none;
}
.CodeMirror {
	cursor: text;
	height: 59%;
}
.left, .bottom {
	overflow: auto;
}
.left {
	padding: 10px;
}
.bottom {
	margin-top: 25px;
	height: 30%;
	width: calc(95% - 5px);
	margin-left: 2%;
	background-color: #fefff3;
	float: left;
	border: 1px solid #aaa;
	padding: 10px;
}

ul.tree,
ul.tree ul {
  list-style:none;
  margin:0;
  padding:0;
}

ul.tree ul {
  margin-left:10px;
  position:relative;
}

ul.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

ul.tree li {
  margin:0;
  padding:0 12px;
  font-size:14px;
  line-height:20px;
  color:#369;
  font-weight:bold;
  position:relative;
}

ul.tree ul li:before {
  content:"";
  display:block;
  width:10px;
  height:0;
  border-top:1px solid;
  position:absolute;
  top:10px;
  left:0;
}

ul.tree ul li:last-child:before {
  background: #fefff3;
  height:auto;
  top:10px;
  bottom:0;
}

table {
	margin-top: 5px;
	margin-left: 20px;
	border-collapse: collapse;
	border-spacing: 0;
	background: #fff;
	margin-bottom: 1.25rem;
	border: solid 1px #aaa;
	width: 90%;
	float: left;
	margin-right: 10px;
}
thead {
	background: #fefff3;
	
}
th, td {
	line-height: 1.125rem;
	border-right: solid 1px #aaa;
	padding: 0.5rem 0.625rem 0.625rem;
	font-size: 0.875rem;
	text-align: left;
}
th {
	font-weight: bold;
}
tr {
	border-bottom: solid 1px #aaa;
}

span.submit {
	float: right;
	margin-right: 12px;
	display: inline-block;
	height: 15px;
	padding: 5px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: #fefff3;
	cursor: pointer;
}
span.error {
	font-size: 0.8em;
	color: red;
}
@media only screen and (max-width : 1530px) {
	aside>div {
		font-size: 1.2em;
	}
	aside>div>span {
		line-height: 3.2em;
	}
}
@media only screen and (max-width : 1365px) {
	aside {
		width: 60px;
	}
	section>article {
		width: calc(100% - 60px);
	}
	.bottom {
		width: calc(95% - 15px);
	}
	section>header:before, section>header:after  {
		left: 100px;
	}
}
@media only screen and (max-width : 1175px) {
	.left, .right, .CodeMirror  {
		width: calc(46.5%) !important;
	}
}
@media only screen and (max-width : 970px) {
	.left, .right {
		width: 94% !important;
		margin-top: 15px;
		height: 30%;
	}
	.CodeMirror {
		margin-top: 15px;
		height: 30%;
		width: 96.2% !important;
	}
	.bottom {
		width: 94% !important;
		margin-top: 15px;
		height: 30%;
	}
}
@media only screen and (max-width : 600px) {
	.left, .right {
		width: calc(94% - 15px) !important;
	}
	.CodeMirror {
		width: calc(97% - 12px) !important;
	}
	.bottom {
		width: calc(90% + 5px) !important;
	}
}